extends music-layout

block header
  header
    div(class='container h-100')
      div(class='row h-100')
        .col-5.col-md-3.cover
          img(src='/static-music/'+artistName+'/'+albumName+'/cover.jpg')
        .col-7.col-md-9.info
          h1= albumName
          h6= artistName
          p= albumDesc

block player-body
  section(class='player-body tracks')
    .container
      .wrapper
        table.table.table-hover
          thead
            tr
              th.text-right #
              th Name
              th Duration
          tbody
            each track in data
              tr(data-track= track['title'])
                th.w-5.text-right(scope='row')= track['track']
                td.w-90= track['title']
                td.w-5
